.big-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #fff;
}

.div {
  border: 1px solid #fff;
  flex: 25%;
  width: 300px;
  height: 300px;
  background: #000;
}

.title {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  border-bottom: 3px solid #ff3c5f;
  border-radius: 30px;
  max-width: 300px;
  padding: 10px;
}

.search {
  width: 250px;
  height: 30px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 100px;
  background: #fff;
}

.product-container {
  width: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  place-items: center;
  margin: 50px auto;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 23rem;
  height: 26rem;
  border-radius: 10px;
  position: relative;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: auto;
  max-width: 17rem;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}



.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  position: absolute;
  inset: auto auto 35px 220px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff3c5f;
  font-size: 20px;
}

.card h2 {
  position: absolute;
  inset: auto auto 35px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-weight: normal;
  text-transform: uppercase;
  color: antiquewhite;
  font-size: 15px;
}

.card a {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.card a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  inset: 340px auto 30px 30px;
  background: #fff;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  letter-spacing: 2px;
}

.card a:hover {
  background: #000;
  color: #fff;
}

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}


.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

@media only screen and (min-width:1200px) and (max-width:1650px) {
  .product-container {
    width: 100%;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-items: stretch;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
  }

  .card {
    width: auto;
    height: 25rem;
    box-sizing: border-box;
  }

  .price {
    inset: auto auto 30px 220px;
  }

  .card h2 {
    font-size: 15px;
  }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
  .product-container {
    width: 100%;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    place-items: center;
    justify-items: center;
    overflow: hidden;
    padding: 10px;
    margin: 0 auto;
  }

  .card {
    width: 17rem;
    max-width: 13rem;
    height: 20rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  .card a {
    
    inset: 260px auto 30px 30px;
/* background-color: red; */
  }
  .card h2 {
    max-width: 140px;
  }

  .price {
    inset: auto auto 30px 170px;
  }

  .card h2 {
    font-size: 15px;
  }



}


@media only screen and (min-width:768px) and (max-width:991px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 80%;
  }

  .card {
    width: 17rem;
    max-width: 13rem;
    height: 20rem;
    box-sizing: border-box;
    overflow: hidden;
  }

  .card a {
    inset: 260px auto 30px 30px;
  }

  .card h2 {
    max-width: 120px;
  }

  .price {
    inset: auto auto 30px 160px;
  }
}

@media only screen and (max-width:767px) and (min-width: 610px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 80%;
  }

  .card {
    width: 17rem;
    max-width: 13rem;
    height: 20rem;
    box-sizing: border-box;
    overflow: hidden;
  }

  .card a {
    inset: 260px auto 30px 30px;
  }

  .card h2 {
    max-width: 100px;
  }

  .price {
    inset: auto auto 30px 160px;
  }
}

@media only screen and (max-width:609px) and (min-width: 290px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    max-width: 80%;
  }

  .card {
    width: 17rem;
    max-width: 13rem;
    height: 20rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  .card a {
    inset: 260px auto 30px 30px;
  }
  .card h2 {
    max-width: 100px;
  }

  .price {
    inset: auto auto 30px 150px;
  }
}