body{
  background: #101728;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-thumb{
	background-color: #ff3c5f;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
	color: var(--white);
}
* ,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}